Repository zakandrewking/lockplane: changes, and which Codecov flags are due for each by the changed paths.
All: postgres, sqlite, unit

custom test
  _sass/custom/custom.scss
Due: none

custom color fix
  _sass/custom/custom.scss
Due: none

feat: expose shadow schema flag
  README.md
  cmd/apply.go
  cmd/apply_test.go
  cmd/plan.go
  cmd/rollback.go
  cmd/rollback_test.go
  devdocs/projects/schema-based-shadow-db.md
Due: postgres, sqlite

refactor: simplify codecov configuration and add unit test coverage upload
  .github/workflows/test.yml
  codecov.yml
Due: unit

chore: update schema shadow checklist
  devdocs/projects/schema-based-shadow-db.md
Due: none

fix: reuse primary url when only schema set
  internal/config/environment.go
  internal/config/environment_test.go
Due: postgres, sqlite

update badges
  README.md
Due: none

test: add comprehensive tests for multiphase commands
  cmd/multiphase_test.go
Due: none

chore: move spf13/cobra to direct dependencies
  go.mod
  go.sum
Due: none

feat: improve init wizard ux
  internal/wizard/styles.go
  internal/wizard/types.go
  internal/wizard/wizard.go
  internal/wizard/wizard_test.go
Due: postgres, sqlite

fix: emit json errors for plan validate
  cmd/plan.go
Due: postgres, sqlite

docs: fix shadow DB documentation inconsistencies (Phase 1)
  devdocs/projects/dialect-config-in-lockplane-toml.md
Due: none

feat: add shadow DB preview screen to init wizard (Phase 2)
  internal/wizard/types.go
  internal/wizard/wizard.go
  internal/wizard/wizard_test.go
Due: postgres, sqlite

fix(vscode): properly read diagnostics and summary from lockplane JSON output
  vscode-lockplane/src/validator.ts
Due: none

fix(vscode): show global schema errors inline for all files
  vscode-lockplane/src/diagnostics.ts
Due: none

feat: add SQL pre-validation and rename --validate to --check-schema
  cmd/plan.go
  cmd/plan_test.go
  vscode-lockplane/src/validator.ts
Due: postgres, sqlite

fix(postgres): respect current schema instead of hardcoding 'public'
  database/postgres/introspector.go
Due: postgres, sqlite

fix(parser): support SQL value functions in DEFAULT clauses
  internal/parser/sql.go
  internal/parser/sql_test.go
Due: postgres, sqlite

fix(validation): report accurate line numbers for SQL syntax errors
  cmd/plan.go
Due: postgres, sqlite

fix(validation): output structured diagnostics with file/line/column
  cmd/plan.go
Due: postgres, sqlite

feat(validation): report all syntax errors by parsing statements individually
  cmd/plan.go
Due: postgres, sqlite

test(validation): add comprehensive tests for SQL syntax validation
  cmd/plan_validation_test.go
Due: none

feat(validation): add line numbers for runtime errors
  cmd/plan.go
  cmd/plan_validation_test.go
  internal/planner/types.go
Due: postgres, sqlite

feat(validation): detect trailing commas with specific error messages
  cmd/plan.go
  cmd/plan_validation_test.go
Due: postgres, sqlite

fix(lint): remove ineffectual assignment to column variable
  cmd/plan.go
Due: postgres, sqlite

chore: bump version to 0.9.0
  cmd/root.go
  package.json
Due: postgres, sqlite

feat(parser): warn when ALTER TABLE detected in schema files
  internal/parser/sql.go
Due: postgres, sqlite

docs(sqlalchemy): rewrite guide with latest best practices
  docs/sqlalchemy.md
Due: none

docs: outline shadow DB bootstrap api
  devdocs/projects/shadow-db-bootstrap-api.md
Due: none

feat(parser): warn about ALTER TABLE in structured diagnostics
  cmd/plan.go
  internal/parser/sql.go
Due: postgres, sqlite

feat(validation): add actionable debugging context to connection errors
  cmd/plan.go
Due: postgres, sqlite

fix(postgres): resolve multi-row subquery error in index introspection
  database/postgres/introspector.go
Due: postgres, sqlite

feat(postgres): detect SERIAL and BIGSERIAL pseudo-types during introspection
  database/postgres/introspector.go
Due: postgres, sqlite

fix(postgres): normalize defaults and remove implicit BIGSERIAL defaults
  database/postgres/introspector.go
Due: postgres, sqlite

fix(postgres): add schema filter to primary key detection subquery
  database/postgres/introspector.go
Due: postgres, sqlite

fix(postgres): exclude constraint-backing indexes from introspection
  database/postgres/introspector.go
Due: postgres, sqlite

feat(schema): add Policy type and Schema field for multi-schema support
  database/interface.go
  devdocs/multi-schema-and-policies.md
Due: postgres, sqlite

feat: add multi-schema support and policy introspection
  cmd/apply.go
  cmd/plan.go
  cmd/rollback.go
  database/interface.go
  database/postgres/driver.go
  database/postgres/introspector.go
  database/sqlite/driver.go
  devdocs/projects/dialect-config-in-lockplane-toml.md
  internal/config/config.go
  internal/config/environment.go
  internal/executor/executor.go
  internal/schema/loader.go
  internal/schema/loader_test.go
Due: postgres, sqlite

feat: add policy DDL generation for RLS policies
  database/postgres/generator.go
  devdocs/projects/dialect-config-in-lockplane-toml.md
Due: postgres, sqlite

fix
  internal/wizard/validation.go
Due: postgres, sqlite

Path conditions:
  postgres: any of: cmd/, internal/, database/, planner.go, rollback.go, diff.go, json_schema.go, init_command.go, main.go, but not: **/*_test.go, **/testdata/**, **/testutil/**, tests/**, examples/**, devdocs/**, docs/**
  sqlite: any of: cmd/, internal/, database/, planner.go, rollback.go, diff.go, json_schema.go, init_command.go, main.go, but not: **/*_test.go, **/testdata/**, **/testutil/**, tests/**, examples/**, devdocs/**, docs/**
  unit: any of: ., but not: **/*_test.go, **/testdata/**, **/testutil/**, tests/**, examples/**, devdocs/**, docs/**
