Repository zakandrewking/lockplane: changes, and which Codecov flags are due for each by the changed paths.
All: postgres, sqlite, unit

codecov.yml:

# Codecov configuration
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# Coverage settings
coverage:
  # Overall coverage targets
  status:
    # Disable project-level status checks
    # This prevents Codecov from posting pass/fail checks to PRs
    project:
      default:
        # Turn off status checks
        informational: true

    # Disable patch-level status checks
    patch:
      default:
        # Turn off status checks
        informational: true

  # Precision for coverage percentages (2 decimal places)
  precision: 2

  # Round coverage values (down, up, or nearest)
  round: down

  # Coverage range for color coding (red to green)
  range: 50..90

# Comment settings - disable PR comments
comment:
  # Disable comments on pull requests
  require_changes: false
  require_base: false
  require_head: false
  layout: "reach, diff, flags, files"
  behavior: default
  after_n_builds: 2  # Wait for both integration test uploads

# GitHub checks - disable all status checks
github_checks:
  annotations: false

# Ignore paths from coverage
ignore:
  - "**/*_test.go"
  - "**/testdata/**"
  - "**/testutil/**"
  - "tests/**"
  - "examples/**"
  - "devdocs/**"
  - "docs/**"

# Flags for different coverage uploads
# This allows us to track coverage from different test suites separately
flags:
  postgres:
    paths:
      - "cmd/"
      - "internal/"
      - "database/"
      - "planner.go"
      - "rollback.go"
      - "diff.go"
      - "json_schema.go"
      - "init_command.go"
      - "main.go"
    carryforward: true

  sqlite:
    paths:
      - "cmd/"
      - "internal/"
      - "database/"
      - "planner.go"
      - "rollback.go"
      - "diff.go"
      - "json_schema.go"
      - "init_command.go"
      - "main.go"
    carryforward: true

  unit:
    paths:
      - "."
    carryforward: true

collect subprocess coverage
  .github/workflows/test.yml
  cmd/init_test.go
  cmd/introspect_test.go
Due: unit

Add PostgreSQL array type introspection support
  README.md
  internal/driver/postgres/driver.go
  internal/driver/postgres/driver_test.go
Due: postgres, sqlite

Add comprehensive PostgreSQL feature support matrix to README
  README.md
Due: none

Add PostgreSQL SERIAL type introspection with strict sequence ownership verification
  README.md
  internal/driver/postgres/driver.go
  internal/driver/postgres/driver_test.go
Due: postgres, sqlite

Address PR feedback: refactor validation logic and add comprehensive tests
  internal/driver/postgres/driver.go
  internal/driver/postgres/driver_test.go
Due: postgres, sqlite

Add tests for schema-qualified and quoted sequence identifiers
  internal/driver/postgres/driver_test.go
Due: none

Fix GetRLSEnabled to handle non-existent tables gracefully
  internal/driver/postgres/driver.go
  internal/driver/postgres/driver_test.go
Due: postgres, sqlite

Revert "Fix GetRLSEnabled to handle non-existent tables gracefully"
  internal/driver/postgres/driver.go
  internal/driver/postgres/driver_test.go
Due: postgres, sqlite

Fix test race condition by running packages sequentially
  .github/workflows/test.yml
Due: unit

Update PostgreSQL version and workflow formatting
  .github/workflows/test.yml
  README.md
Due: unit

Fix GenerateMigration to handle added and removed columns
  cmd/apply.go
  internal/driver/postgres/generator.go
  internal/driver/postgres/generator_test.go
Due: postgres, sqlite

Clarify development workflow: always create PRs
  CLAUDE.md
Due: none

Add repository setup note: not a fork, work on origin branches
  CLAUDE.md
Due: none

Never use gh pr create --web, always use flags
  CLAUDE.md
Due: none

rename check-schema to check
  README.md
  cmd/check_schema.go
  vscode-lockplane/src/checker.ts
Due: postgres, sqlite

drop flag
  vscode-lockplane/src/checker.ts
Due: none

Update README.md
  README.md
Due: none
