Repository zakandrewking/lockplane: changes, and which Codecov flags are due for each by the changed paths.
All: postgres, sqlite, unit

settings
  .vscode/settings.json
Due: unit

add basic parser
  cmd/apply.go
  internal/config/config.go
  internal/config/config_test.go
  internal/schema/loader.go
  internal/schema/parser.go
Due: postgres, sqlite

test workflow
  .github/workflows/test.yml
Due: unit

test: add comprehensive tests for schema parser
  internal/schema/parser_test.go
Due: none

test workflow
  .github/workflows/test.yml
  internal/config/config.go
  internal/schema/checker.go
  internal/schema/loader.go
  internal/schema/parser.go
Due: postgres, sqlite, unit

test fix
  internal/config/config_test.go
Due: none

fix
  internal/schema/parser_test.go
Due: none

test fix
  internal/schema/parser_test.go
Due: none

lots of tests
  README.md
  internal/driver/postgres/driver_test.go
  internal/schema/parser.go
  internal/schema/parser_test.go
Due: postgres, sqlite

fix: populate column default values in postgres introspector
  internal/driver/postgres/driver.go
Due: postgres, sqlite

matrix
  README.md
Due: none

test adjustment
  .github/workflows/test.yml
  internal/driver/postgres/driver_test.go
Due: unit

add precommit
  .pre-commit-config.yaml
  DEVELOPMENT.md
Due: unit

fix lint
  internal/schema/parser.go
  internal/schema/parser_test.go
Due: postgres, sqlite

upgrade go
  .github/workflows/test.yml
Due: unit

diff
  README.md
  cmd/apply.go
  internal/schema/diff.go
  internal/schema/diff_test.go
Due: postgres, sqlite

generate migration
  .github/workflows/test.yml
  .gitignore
  cmd/apply.go
  go.mod
  go.sum
  internal/driver/driver.go
  internal/driver/interface.go
  internal/driver/postgres/driver.go
  internal/driver/postgres/generator.go
  internal/driver/postgres/generator_test.go
Due: postgres, sqlite, unit

generator tests
  internal/driver/postgres/generator_test.go
Due: none

cov fix
  .github/workflows/test.yml
  cmd/apply.go
Due: postgres, sqlite, unit

generator tests
  README.md
  internal/driver/postgres/driver.go
  internal/driver/postgres/driver_test.go
  internal/driver/postgres/generator.go
  internal/driver/postgres/generator_test.go
Due: postgres, sqlite

fix: remove duplicate sslmode parameter in CI workflow
  .github/workflows/test.yml
Due: unit

badges
  README.md
Due: none

docs: add ALTER COLUMN migration patterns section to README
  README.md
Due: none

readme
  README.md
Due: none

feat: add Row Level Security (RLS) support
  README.md
  internal/driver/postgres/driver.go
  internal/schema/parser.go
  internal/schema/parser_test.go
Due: postgres, sqlite

test: add comprehensive tests for schema loader
  internal/schema/loader_test.go
Due: none

test: add integration tests for GetRLSEnabled
  internal/driver/postgres/driver_test.go
Due: none

feat: add migration generator with RLS support
  internal/generator/generator.go
  internal/generator/generator_test.go
Due: postgres, sqlite

fix: resolve lint error and test failures in loader tests
  internal/schema/loader_test.go
Due: none

docs: add workflow checking instructions to CLAUDE.md
  CLAUDE.md
Due: none

fix: resolve staticcheck lint error in RLS test
  internal/driver/postgres/driver_test.go
Due: none

refactor: move RLS generation to postgres generator
  internal/driver/postgres/generator.go
  internal/driver/postgres/generator_test.go
  internal/generator/generator.go
  internal/generator/generator_test.go
  internal/schema/diff.go
  internal/schema/diff_test.go
Due: postgres, sqlite

super basic init
  cmd/init.go
  go.mod
  go.sum
  internal/wizard/wizard.go
  internal/wizard/wizard_test.go
Due: postgres, sqlite

init error handling
  internal/wizard/wizard.go
  internal/wizard/wizard_test.go
Due: postgres, sqlite

force cmd
  cmd/init.go
  internal/wizard/wizard.go
Due: postgres, sqlite

create schema/
  CLAUDE.md
  README.md
  internal/wizard/wizard.go
  internal/wizard/wizard_test.go
Due: postgres, sqlite

init test
  cmd/init.go
  cmd/init_test.go
  internal/wizard/wizard.go
Due: postgres, sqlite

-coverpkg=all
  .github/workflows/test.yml
Due: unit

introspect command
  .github/workflows/test.yml
  cmd/apply.go
  cmd/helpers.go
  cmd/introspect.go
  cmd/introspect_test.go
Due: postgres, sqlite, unit

normalize time[stamp] to time[stamp] without timezone
  internal/schema/parser.go
  internal/schema/parser_test.go
Due: postgres, sqlite

Path conditions:
  postgres: any of: cmd/, internal/, database/, planner.go, rollback.go, diff.go, json_schema.go, init_command.go, main.go, but not: **/*_test.go, **/testdata/**, **/testutil/**, tests/**, examples/**, devdocs/**, docs/**
  sqlite: any of: cmd/, internal/, database/, planner.go, rollback.go, diff.go, json_schema.go, init_command.go, main.go, but not: **/*_test.go, **/testdata/**, **/testutil/**, tests/**, examples/**, devdocs/**, docs/**
  unit: any of: ., but not: **/*_test.go, **/testdata/**, **/testutil/**, tests/**, examples/**, devdocs/**, docs/**
